.characters {
	background: linear-gradient(#E0FFFF 20%,#4169E1);
    padding: 6% 6%;
}

.characters__list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.characters__li {
    text-align: center;
	width: 65%;
	vertical-align: top;
	margin: 2%;
	padding: 20px 10px;
	box-sizing: border-box;
	border-radius: 10px;
	border: 2px solid #000000;
}

.characters__li--link {
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
}

.characters__li--name {
    font-size: 1.8rem;
}

.characters__li--image {
	width: 200px;
	height: 200px;
	margin: 8px 0;
}

@media screen and (min-width: 768px) {
    .characters__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .characters__li {
        width: 30%;
    }

    .characters__li--image {
        width: 150px;
        height: 150px;
        margin: 8px 0;
    }
}

@media screen and (min-width: 1024px) {

    .characters {
        padding-top: 3%;
    }

    .characters__li {
        width: 21%;
    }

    .characters__li:hover {
        border-color: #00FFFF;
    }

    .characters__li:hover .characters__li--name {
        font-size: 34px;
    }

    .characters__li--image {
        width: 200px;
        height: 200px;
        margin: 8px 0;
    }
}