.main__search {
    padding: 6% 6%;
    background: linear-gradient(#E0FFFF 20%,#4169E1);
}

.main__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main__subtitle {
    font-size: 1.2rem;
    margin-left: .8rem;
    margin-bottom: 2rem;
}

.main__form {
	margin: .8rem .8rem;
}

.main__form--label, .main__form--legend {
	display: block;
	font-size: 1.2rem;
	margin: 0 0 1rem;
}

.main__form--input {
    display: block;
	margin: .8rem 0 1rem;
	padding: 8px 15px;
	width: 70%;
}

.main__form--fieldset--watch{
    margin-top: 1.3rem;
}

.main__form--fieldset--character {
    margin: 1rem 0;
}

.fieldset__select--character {
    padding: .7rem .7rem;
	font-size: 1rem;
}

.main__form--checkbox {
    margin: .8rem 0;
}

.main__form--button--send {
    width: 100%;
	padding: 1rem 0;
	background-color: #ADD8E6;
	color: white;
	font-weight: bold;
	font-size: 1.2rem;
	border: none;
	border-radius: 5px;
}

@media screen and (min-width: 768px) {

    .main__form--button--send {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {

    .main__search {
        padding: 3% 4%;
    }

    .main__form--button--send {
        transition: 1s all;
	    cursor: pointer;
    }

    .main__form--button--send:hover {
        background-color: #00008B;
        transform: scale(1.2);
    }
}